@charset "utf-8";
// ------------------------登录注册头部的样式-------------
.login_header .header_mid {
    margin-top: 30px;
    margin-bottom: 19px;
    .logo {
        float: left;
        width: 74px;
        margin-right: 7px;
    }
    .header_right {
        float: right;
        position: relative;
        margin-top: 19px;
        z-index: 3;
    }
}

img {
    border: 0 none;
    vertical-align: top;
}